.bg {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(2);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1900px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-4 {
  from {
    transform: translateZ(-500px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-100px);
    opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
    -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
    758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke,
    183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3,
    158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
    719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4,
    870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4,
    414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3,
    641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
    -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
    755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
    -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
    392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 8s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 8s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 8s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-4 10s linear infinite;
}
/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to all <a> tags within .intro--options */
.intro--options a {
  animation: fadeIn 2s ease forwards;
  opacity: 0; /* Start with elements hidden */
}

/* Set different delays for each <a> tag */
.intro--options a:nth-child(1) {
  animation-delay: 1s;
}

.intro--options a:nth-child(2) {
  animation-delay: 1.5s; /* 1s delay + 1s animation */
}

.intro--options a:nth-child(3) {
  animation-delay: 2s; /* 2s delay + 1s animation */
}

/* Apply the animation to all <a> tags within .intro--banner */
.intro--banner h1 {
  animation: fadeIn 1s both cubic-bezier(0.68, -0.1, 0.265, 2);
  opacity: 0; /* Start with elements hidden */
}

/* Set different delays for each <a> tag */
.intro--banner h1:nth-child(1) {
  animation-delay: 500ms;
}

.intro--banner button {
  animation: slideInFromLeft 1s both cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0; /* Start with elements hidden */
}

/* Set different delays for each <a> tag */
.intro--banner button:nth-child(1) {
  animation-delay: 500ms;
}
/* Keyframes for left-to-right effect */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Define the fadeIn animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the fadeIn animation to all images within .intro--banner */
  .intro--banner img {
    opacity: 0; /* Ensure images are initially hidden */
    animation: fadeIn 4s forwards; /* Use forwards to retain the final animation state */
    animation-delay: 2s;
  }
  .certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .certificate {
    text-align: center; /* Centers the text (name) */
    margin: 30px; /* Adds some space around each certificate */
    transition: transform 0.5s ease; /* Smooth transition for the transform property */
    border-radius: 45%; /* Adjust for rounded corners or circle */

  }
  
  .certificate img {
    border-radius: 10%; /* Adjust for rounded corners or circle */
    width: 200px; /* Square dimensions */
    height: 200px; /* Square dimensions */
    margin-bottom: 5px; /* Space between the image and the name */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    display: block; /* Ensures the image is properly aligned */
    border: 4px solid gold; /* Adds a gold border */
  }
  .certificate a {
   color: #ffffff;
   text-decoration: none; /* Removes underline from links */
  }
  .certificate:hover {
    transform: scale(1.2); /* Scales up the element by 10% on hover */
  }

  .modal {
    position: fixed; /* Change to fixed positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 90%;
    max-width: 400px;
    margin: 0; /* Centering is handled by transform */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1050; /* Ensure it's above other content */
  }
  
  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    color: #333; /* Match the modal text color */
    cursor: pointer;
    font-size: 20px; /* Adjust size as needed */
  }
  
  .modal-close-btn:hover {
    color: #007bff; /* Highlight color on hover */
  }
.modal div p, .modal div a {
  color: #333; /* Dark text for readability */
  font-size: 16px; /* Readable font size */
  line-height: 1.5; /* Spacing for readability */
}

.modal div a {
  display: block; /* Make the links block to occupy their own line */
  margin: 10px 0; /* Margin for spacing */
  color: #007bff; /* Link color */
  text-decoration: none; /* No underline */
}

.modal div a:hover {
  text-decoration: underline; /* Underline on hover for interactivity */
}

.modal ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  display: flex; /* Display the list items inline */
  justify-content: center; /* Center the items horizontally */
  gap: 20px; /* Space between items */
}

.modal ul li a {
  color: #495057; /* Color for social media links */
  font-size: 16px; /* Matching font size */
}

.modal ul li a:hover {
  color: #0056b3; /* Hover color for social media links */
}/* Form container */
.form-request {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for input and textarea */
.form-request input[type="text"],
.form-request input[type="email"],
.form-request textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; /* Space between fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2c364d;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: border-color 0.3s;
}

.form-request input[type="text"]:focus,
.form-request input[type="email"]:focus,
.form-request textarea:focus {
  border-color: #007bff; /* Highlight color when focused */
  outline: none; /* Removes the default focus outline */
}

/* Floating label style */
.form-request label {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #666;
  transition: all 0.3s;
  transform-origin: 0 0;
}


/* Adjust textarea height */
.form-request textarea {
  height: 120px;
  resize: vertical; /* Allows vertical resizing */
}